body {
  background-color: #b3bbda;
}

.main {
  text-align: center;
  justify-content: center;
  padding-top: 1px;
  background-color: #b3bbda;
}
.login {
  padding-top: 90px;
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1200px;
  padding-top: 30px;
  border-radius: 60px; 
  background-color: rgb(180, 228, 235);
  }

  .nawigacja {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 1200px;
    background-color: rgb(180, 228, 235);
  }

  .NazwaStrony {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: rgb(180, 228, 235);
    font-size: 100px;
    font-style: italic;
    color: rgb(176, 4, 255);
    width: 1200px;
    padding-bottom: 150px;
  }

.imgs {
    padding-top: 20px;
    display: flex;
  }

  .napis {
    padding-right: 110px;
  }

  .imgh {
    margin-top: 20px;
    display: flex;
    height: 200px;
    margin-right: 200px;
    border-radius: 10px;
  }

.container-image {
  background-color: rgb(134, 29, 194); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
  margin-left: 126px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

input{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    outline: none;
    background-color: #fff;
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 30px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

button{
    min-width: 140px;
    height: 70px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(130, 184, 192);
    color: white;
    font-size: 20px;
    border: none;
}
.login-button
{
    padding-top: 25px;
}

.link{
    font-size: 18px;
    font-weight: 400;
}
 a{
     color: rgb(255, 255, 255);
     text-decoration: none;
 }

 .form, .formusun{
  width: 1200px;
  background-color: #6f8294;
  min-height: 300px;
  padding-bottom: 10px;
  padding-top: 1px;
}

.nazwaU {
  font-size: 40px;
  margin-top: 120px;
  width: 300px;
  border: 1px solid black;
}
.przystanekTrasy {
  background-color: rgb(180, 228, 235);
  border: 4px solid rgb(134, 29, 194);
  width: 300px;;
}
button:hover {
  background-color: #b103fc;
  transition: background-color 0.3s ease;
}

button:hover, button:not(:hover) {
  transition: background-color 0.3s ease;
}
.czas {
  width: 150px;
}